# This is the project specific Settings.cfg file.
# Place in Documentation/Settings.cfg

[general]
project = Spark DMS
version = 1.0.0
release = 1.0.0
copyright = 2025, ETF UNSA / Ernedin Zajko

[html]
theme = t3docs
